/* #root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* footer {

    position: fixed;;
    left: 0;
    bottom: 0;
    background-color: red;
    color: white;
    text-align: center;
};  */